
@{
    ViewData["Title"] = "ErrorPage";
}

<h1>ErrorPage</h1>

<div class="container text-center">
<h1 class="display-1 text-danger">Error</h1>
    <p class="lead">An error occurred while processing your request.</p>
    <p><a  asp-controller="Home" asp-action="Index">Click here</a> to return to the home page.</p>
</div>

